
/*  */


:root {

    --first-color :#2B3467;
    /* --sec-color :rgb(255, 184, 220) ; */
    --third-color:

}
/*  */

#main-container{
    position: relative;
    width: 100%;
    background-color: rgb(132, 162, 163);
    overflow: hidden;
}

header{
    height: 5px;
    align-items: center;
    margin-left: 750px;
}
header a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;

}

#chats{
    visibility: hidden;  
    
}
#status{
    visibility: hidden;
}

.tabs input{
    display: flex;
    background-color: white;
    border-bottom: 1px solid white ;
    font-size: 15px;
    border: none;
    height: 30px;
    width: 230px;
}
.buttons{
    position: relative;
    display: flex;
    justify-content: space-evenly;

}

.buttons label{
    width: 40%;
    color: white;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.content{
    background-color: rgb(198, 202, 202);
    position: relative;
    width: calc(1540px*2);
    display: flex;
    transition: 0.5s;
    overflow: hidden;
   
}

.box{
    border: 1px solid black;
    width: 600px;
    height: 700px;
}

.content .box{
    position: relative;
    width: 1540px;
    margin-top: 0px;
}

.tabs input:nth-child(1):checked ~ .content{
    left: calc(1540px  * 0);
}

.tabs input:nth-child(2):checked ~ .content{
    left: calc(1540px  * -1);
}


.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2){
    opacity: 6;
}

.underline{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 6px;
    background-color:rgb(225, 224, 223);
    transition: 0.5s;

}

.tabs input:nth-child(1):checked ~ .buttons .underline{
    left: 10.22%;
}
.tabs input:nth-child(2):checked ~ .buttons .underline{
    left: 55.333%;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    background-color: rgb(200, 203, 203);
}
.chat-app .people-list {
    width: 220px;
    position: absolute;
    margin-left: 200px;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 7

}

#search{
    display: flex;
    justify-content: space-around;
}
.chat-app .chat {
    margin-left: 500px;
    margin-top: 30px;
    width: 800px;
    border-left: 1px solid #eaeaea;
    border: 2px solid white;
    background-color: rgb(246, 245, 245);
    border-radius: 19px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#plist{
    height: 630px;
    background-color: rgb(132, 162, 163);

}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.people-list .chat-list li {
    list-style: none;
    padding: 12px 4px;
    width: 192px;
    font-family: sans-serif;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    color: black;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: white;
    color: black;
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    height: 45px;
    border: 1px solid rgb(78, 77, 77);
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px;
}

.m-b-0{
    font-size: 15px;
    font-family: sans-serif;
    color: #47494b;
}

.people-list .status {
    color:rgb(66, 66, 66);
    font-size: 13px
}



.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    align-items: center;
    font-size: 17px;
    background-color: var(--third-color);

}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    background-color: var(--sec-color);
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #7a7c84;
    padding-left: 6px
}

.chat .chat-history .message {
    color: black;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #e4e3e3;
    border: 1px solid gray;
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background-color: rgb(167, 182, 182);
    text-align: right;
    border: 1px solid gray;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}
.chat-message.clearfix{
    display: flex;
    gap: 40px;
}

.chat-message.clearfix input{
    width: 500px;
    height: 40px;
    margin-top: 14px;
    border: 1px solid black;
}



.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #8dc254
}

.offline {
    color: rgb(167, 95, 95)
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.col-lg-6 img{
    margin-top: 20px;
}

.chat-about{
    display: flex;
    gap: 30px;
}
.input-group-prepend{
    font-size: 24px;
    color: #434651;
    border: 1px solid black;
    padding: 20px;
   cursor: pointer;
   border-radius: 100%;
}


#gc{
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(236, 234, 234);
    justify-content: space-around;
}

#gc button{
    width: 50px;
    font-size: 30px;
    height:48px;
    border-radius: 50%;
    color: rgb(33, 31, 31);
    border: 4px solid rgb(102, 99, 99);
    background-color: #cbc8cc;

}
#gc a{
    color:rgb(110, 109, 109);
}




@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: 0px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
    .chat-message.clearfix input{
        width: 200px;
        height: 40px;
        margin-top: 14px;
    }
    .chat .chat-history .my-message {
        background: #efefef;
        width: 270px;
    }
    
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
    .chat-app .chat-list {
        height: 150px;
        width: 300px;
     
    }
    .chat-app .chat-history {
        height: 400px;
        overflow-x: auto
    }
    .float-right {
        float: left;
        width: 270px;
    }
    .chat-app .people-list {
        width: 60px;
    
        left: 0;
        top: 0;
        padding: 20px;
    
    }
    .people-list .chat-list li {
        list-style: none;

        width: 52px;
        font-family: sans-serif;
        border-radius: 3px;
    }
    
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}




